<h1>Homepage</h1>
<h2>Welcome!</h2>
<div class="article-list">
    <div>
        <h4>Pinned post</h4>
        <p>don't read the fine print</p>
    </div>
    <div>
        <h4>Post 1</h4>
        <p>don't read the fine print</p>
    </div>
    <div>
        <h4>Post 2</h4>
        <p>don't read the fine print</p>
    </div>
    <div>
        <h4>Post 3</h4>
        <p>don't read the fine print</p>
    </div>
</div>