<h1>Registration</h1>

<h3>Already registered? <br> <a href="/login">Click here to log in</a></h3>

<form method="post" action="/register">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="email">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="password">

    <button>Submit</button>
</form>