/* Home */
.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.article-box {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.homepage-container {
    align-items: center;
    width: 100%;
}
.logout-container {
    margin-top: -11vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}
.logout-button {
    background-color: #B30000;
    color: white;
}
.logout-button:hover {
    background-color: #9A0000;
}