.formContainer {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #212121;
    margin-top: 3em;
    width: 400px;
    border-radius: 20px;
    padding: 40px;
}